{% extends "basic/layout.html" %}

{% set script_files = script_files + [
'_static/jquery.min.js',
'_static/bootstrap.js',
'_static/doc.js',
'_static/jquery.noconflict.js',
] %}

{% set classes = [] %}
{% if pagename == master_doc %}
  {% set classes = classes + ['index'] %}
{% endif %}

{% if 'code-column' in meta %}
  {% set classes = classes + ['has_code_col'] %}
{% endif %}

{%- block doctype -%}
  <!doctype html>
{%- endblock -%}
{%- block htmltitle -%}
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Work+Sans:500,600" rel="stylesheet">
  {{ super() }}
{%- endblock -%}

{%- block sidebar1 -%}{%- endblock -%}
{%- block sidebar2 -%}{%- endblock -%}
{%- block relbar1 -%}{%- endblock -%}
{%- block relbar2 -%}{%- endblock -%}

{%- block footer -%}
  {%- if google_analytics_key -%}
    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', '{{ google_analytics_key }}', 'auto');
    ga('send','pageview');
    </script>
  {%- endif -%}
{%- endblock -%}

{%- block header -%}
  <header class="o_main_header o_has_sub_nav o_inverted {{ ' '.join(classes) }}">
    <div class="o_main_header_main">
      <a class="pull-left o_logo" href="https://flectrahq.com"></a>
      <ul class="o_primary_nav">
        <li class="dropdown">
        </li>
      </ul>
    </div>
    <nav class="navbar o_sub_nav">
      <div class="container">
        <div class="navbar-header visible-xs">
            <button type="button" class="navbar-toggle collapsed text-left btn-block" data-toggle="collapse" data-target="#o_sub-menu" aria-expanded="false">
              Navigate
              <span class="mdi-hardware-keyboard-arrow-down pull-right"></span>
            </button>
        </div>

        <div class="collapse navbar-collapse" id="o_sub-menu">
          <ol class="o_breadcrumb breadcrumb nav navbar-left">
              {% block breadcrumb_desktop %}
              {% include "breadcrumb_list.html" %}
              {% endblock %}
          </ol>

          <ul class="navbar-nav navbar-right nav o_sub_nav_actions">
            {% if pagename != master_doc %}
              <li class="divider"></li>
            {% endif%}

            {% block switchers_desktop %}
            {% include "switchers_list.html" %}
            {% endblock %}
          </ul>

          <ul class="nav navbar-nav navbar-right">
            {% if languages or versions %}
              <li class="divider"></li>
            {% endif %}

            {% if languages or versions %}
              <li class="divider"></li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>
  </header>

{%- endblock -%}

{%- block content -%}
  <div id="wrap" class="{{' '.join(classes) }}">
    {% if meta['banner'] %}
    {% set has_banner = 'has_banner' %}
    {% endif %}
    <figure class="card top {{ has_banner }}">
      <span class="card-img" {% if meta['banner'] %}style="background-image: url('{{ pathto('_static/' + meta['banner'], True) }}');"{% endif %}></span>
      <div class="container text-center">
        <h1> {{ meta.get('main-title', title) }} </h1>
      </div>
    </figure>
    {% if 'code-column' in meta %}
    {% set container = 'container-fluid' %}
    {% else %}
    {% set container = 'container' %}
    {% endif %}
      <main class="container {{ ' '.join(classes) }}">
        {% if pagename != master_doc %}
        <div class="o_content row">
          {% if 'has-toc' not in meta and not (pagename in toc) %}
          <aside>
            <div class="navbar-aside text-center">
              {{ toc }}
              {% if github_link %}
              <p class="gith-container"><a href="{{ github_link(mode='edit') }}" class="gith-link">
                  Edit on GitLab
              </a></p>
              {% endif %}
            </div>
          </aside>
          {% endif %}
          <article class="doc-body {% if 'has-toc' in meta %}doc-toc{% endif %}{% if pagename in toc%}index-category{% endif %}">
            {% endif %}
            {% block body %} {% endblock %}
          {% if pagename != master_doc %}</article>
        </div>
        {% endif %}
        <div id="mask"></div>
      </main>
  </div>

  <div class="floating_action_container">
    <a id="floating_action" class="ripple" href="#">
      <i class="mdi-action-explore"></i>
    </a>
    <div id="floating_action_menu">
      <span class="bubble"></span>
      <ul class="list-group content">
        <li class="list-group-item ripple"><a>Cras justo odio</a></li>
        <li class="list-group-item ripple"><a>Dapibus ac facilisis in</a></li>
        <li class="list-group-item ripple"><a>Morbi leo risus</a></li>
        <li class="list-group-item ripple"><a>Porta ac consectetur ac</a></li>
        <li class="list-group-item ripple"><a>Vestibulum at eros</a></li>
      </ul>
    </div>
  </div>
  <footer>
    <div id="footer" class="container">
      <span class="o_logo o_logo_inverse center-block o_footer_logo"></span>
      <div class="row">
        <div class="col-sm-7 col-md-7 col-lg-6">
          <div class="row">
            <div class="col-xs-6 col-sm-4">
              <span class="menu_title">Community</span>
              <ul>
                <li><a href="https://gitlab.com/flectra-hq/flectra">GitLab
                </a></li>
                <li><a href="https://flectrahq.com/download">Download</a></li>
                <li class="divider"></li>
              </ul>
            </div>
            <div class="col-xs-6 col-sm-4">
              <span class="menu_title">About us</span>
              <ul>
                <li><a href="https://flectrahq.com/contactus">Contact</a></li>
                <li class="divider" />
              </ul>
            </div>
          </div>
        </div>
        <div class="col-sm-5 col-md-4 col-md-offset-1 col-lg-5 col-lg-offset-1">
          <p>
            <small>
              Flectra is a suite of open source business apps that cover all your company needs: CRM, eCommerce, accounting, inventory, point of sale, project management, etc.
              <br/><br/>
              Flectra's unique value proposition is to be at the same time very easy to use and fully integrated.
            </small>
          </p>
        </div>
      </div>
    </div>
    <div class="o_footer_bottom">
      <div class="container">
        <div class="social-links pull-right">
          <a href="https://www.facebook.com/flectrahq"><i class="fa fa-facebook"></i></a>
          <a href="https://twitter.com/flectrahq"><i class="fa fa-twitter"></i></a>
          <a href="mailto:info@flectra.com"><i class="fa fa-envelope"></i></a>
        </div>
      </div>
    </div>
  </footer>
{%- endblock -%}
